img {
    width: 100px;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 165, 37);
}
.board {
    width: 620px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

}
.card{
    width: 23%;
    height: 23%;
    position: relative;
    transform-style: preserve-3d;
    margin: 5px;
    transform: scale(1);
    transition: transform .5s;
    
}
.card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.card.flip {
transform: rotateY(180deg)
}


.card-face,
.card-back {
    width: 100%;
    height: 100%;
 
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-face {
    transform: rotateY(180deg)
}
#gameTimer {
    display: flex;
   align-items: center;
   font-size: 40px;

}
.timerbutton {
    margin: 10px
}