img {
    width: 100px;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 150, 13, 0.86);
}
h1 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
      font-size: 50px;
}
h2 {
    text-align: center;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}
#timer {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}
#gameTimer{
    display: flex;
    align-items: center;
    font-size: 45px;
    margin: 0;
}
.timerbtns{
    margin: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 15px;
}
#gameBoard {
    width: 620px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

}
.card{
    width: 23%;
    height: 23%;
    position: relative;
    transform-style: preserve-3d;
    margin: 5px;
    transform: scale(1);
    transition: transform .5s;
    
}
.card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.card.flip {
transform: rotateY(180deg)
}


.card-face,
.card-back {
    width: 100%;
    height: 100%;
 
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-face {
    transform: rotateY(180deg)
}
.level {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 15px;
}
